<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-3">
                        {{ partial "auction/sidebar.html" . }}
                    </div>
                    <div class="col-md-9" id="blog-post">
                        {{ partial "auction/items-table.html" (dict "context" . "category" .Params.itemCategory) }}
                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
