<section class="bar background-white no-mb" style="{{ safeCSS (.Get "style") }}">
  <div class="col-sm-12">
    <div class="heading text-center">
      <h2>Auction committee</h2>
    </div>
    <p class="lead text-center">
      {{ .Inner | markdownify }}
    </p>
    <div class="container team">
      <div class="col-sm-12">
          <div class="row">
            {{ range $index, $element := sort .Site.Data.auctionCommittee "weight" }}
      				<div class="col-sm-3 col-xs-6 team-member">
                <img class="avatar-image" alt="" src="{{ $element.avatar | absURL }}">
                <h3>{{ $element.name }}</h3>
                <p>{{ $element.position }}</p>
                <a href="mailto:{{ $element.email }}">{{ $element.email }}</a>
              </div>
            {{ end }}
        </div>
  		</div>
    </div>
  </div>
</section>
