{{ if isset .Site.Params "jumbotron" }}
{{ if .Site.Params.jumbotron.enable }}
<section class="bar jumbotron background-image-fixed-2 no-mb color-white text-center" style="background-image: url({{ .Site.Params.jumbotron.image }});">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">{{ .Site.Params.jumbotron.title }}</h3>
                <p class="lead">{{ .Site.Params.jumbotron.subtitle }}</p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
