{{ if isset .Site.Params "open_street_map" }}
{{ if .Site.Params.open_street_map.enable }}
<section class="no-mb">
  <div id="openStreetMap" class="container-fluid home-map">
    <!-- This is where the map will be -->
  </div>
</section>

<script type="text/javascript">
  var coordinate = [{{ .Site.Params.open_street_map.lat }}, {{ .Site.Params.open_street_map.long }}];
  var map = L.map('openStreetMap', {detectRetina: true, dragging: !L.Browser.mobile, touchZoom: true, tap: false}).setView(coordinate, 17);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  L.marker(coordinate).addTo(map);
</script>
{{ end }}
{{ end }}
