<section class="bar background-white container">
    <div class="heading text-center">
      <h2>Auction committee</h2>
    </div>
    <p class="lead text-center">
      {{ .Inner | markdownify }}
    </p>
    <div class="container">
    {{ range $index, $element := sort .Site.Data.auctionCommittee "weight" }}
    	{{ if eq (mod $index 3) 0 }}
          <div class="row">
  		{{ end }}
    				<div class="col-md-4">
                <div class="box-simple">
                  <img class="avatar-image" alt="" src="{{ $element.avatar | absURL }}">
                  <h3>{{ $element.name }}</h3>
                  <p>{{ $element.position }}</p>
                  <a href="mailto:{{ $element.email }}">{{ $element.email }}</a>
              </div>
            </div>
  		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.auctionCommittee) 1 )) }}
  			</div>
  		{{ end }}
    {{ end }}
    </div>
</section>
